*{
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
.container{
    display: flex;
    font-size: 17px;
    flex-wrap: wrap;

}
.nav{
    padding: 10px
}
a{  text-decoration: none;
    color: rgba(0, 0, 0, 0.877);
}
.container a:hover{
   text-decoration:underline coral 2px ;
   transition-duration: 0.3s;
   font-size:  20px;
   transform: scale(1);

}
#Name{
    margin-right: 600px;
    margin-left: 70px;
    font-weight: 550;
    font-size: 30px;
    display: block;
}
main{
    margin-top: 125px;
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
}
#hi{
    font-size: 45px;
}

.main{
    display: flex;
}
#linkedin{
    margin-top: 120px;
    margin-right: 100px;
}
#hi{
    display: block;
    margin-bottom: 10px;
}
#intro{
    display: block;
    font-size: larger;
    margin: 10px;
    margin-left: 0px;
}
img{ border-radius: 42%;
     border-color: violet;
} 

body ,a{
    display: flex;
    flex-wrap: wrap;
}
.contact{
   margin-top: 50px;
   margin-left: 50px;
   border: rgb(3, 3, 3) 1px solid;
   border-radius: 5px;
   padding:5px;
   font-size: larger;
   display: block;
   background-color: rgb(139, 59, 219);
   color: white;
   font-weight: bold;
   padding: 5px;
   width: fit-content;
}  
